<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" class="inputcontainer">
        <p style="color: white; font-size: 25px; margin-top: 5px;">Oreo
            <span class="material-symbols-outlined" style="margin-left: 50px;">compare_arrows</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">inventory_2</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">mail</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">perm_contact_calendar</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">notifications</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">flag</span>
            <span style="margin-left: 20px;"><input type="text" placeholder="search" style="border-radius: 30px; padding: 5px; margin-bottom: 2px;"></span>
            <span class="material-symbols-outlined" style="margin-left: 1300px; margin-bottom: 40%;">logout</span>
            <span class="material-symbols-outlined" style="margin-left: 50px;">Settings</span>
        </p>
    </div>
</div>    
<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" style="border-style: inset; height: 100px; border-color:rgba(0, 0, 0, 0.203);"> 
        <h3 style="color: white; font-size: 25px">Products</h3> 
        <div style="margin-bottom: 300px;">
            <p style="color: white;">Welcome to Oreo
                <span fxLayout="row" fxLayoutAlign="center" class="innerhead">
                    <span class="material-symbols-outlined" style="font-size: 15px;">home</span>
                    <button style="background-color: inherit; border: none;">Oreo/</button> 
                    <button style="background-color: inherit; border: none;">eCommerce/</button>  
                    <button style="background-color: inherit; border: none;">Products</button>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="innerdiv">
    <div fxLayout="row" fxLayoutAlign="center" class="fxdiv"> 
        <div>     
            <mat-grid-list cols="4" rowHeight="1:1" class="matdiv" >
                <span><mat-grid-tile></mat-grid-tile></span>
                <span style="margin-left: 520px; font-size: 25px;">Simple</span>
                <span style="margin-left: 4px; font-size: 25px;">Black</span>
                <span style="margin-left: 4px; font-size: 25px;">Clock</span>
                <div style="margin-top: 10px;">
                    <span style="margin-left: 520px; font-size: 23px;">Current</span>
                    <span style="margin-left: 4px; font-size: 23px;">Price:</span>
                    <span style="margin-left: 4px; font-size: 23px; color: rgb(255, 200, 0);">$180</span>
                </div>
                <div>
                <span class="material-symbols-outlined" style="margin-left: 520px; color: rgb(255, 200, 0);">star<span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined" style="color: black;">grade</span>
            </span>
            <div style="margin-top: -23px;">
                <span style="margin-left: 650px; font-size: 15px;">Reviews</span>
            </div>
            <span style="margin-left: 520px;">Simple</span>
            <span style="margin-left: 4px;">Black</span>
            <span style="margin-left: 4px;">Clock</span>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>    