<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" class="inputcontainer">
        <p style="color: white; font-size: 25px; margin-top: 5px;">Oreo
            <span class="material-symbols-outlined" style="margin-left: 50px;">compare_arrows</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">inventory_2</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">mail</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">perm_contact_calendar</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">notifications</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">flag</span>
            <span style="margin-left: 20px;"><input type="text" placeholder="search" style="border-radius: 30px; padding: 5px; margin-bottom: 2px;"></span>
            <span class="material-symbols-outlined" style="margin-left: 1300px; margin-bottom: 40%;">logout</span>
            <span class="material-symbols-outlined" style="margin-left: 50px;">Settings</span>
        </p>
    </div>
</div>    
<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" style="border-style: inset; height: 100px; border-color:rgba(0, 0, 0, 0.203);"> 
        <h3 style="color: white; font-size: 25px">Products</h3> 
        <div style="margin-bottom: 300px;">
            <p style="color: white;">Welcome to Oreo
                <span fxLayout="row" fxLayoutAlign="center" class="innerhead">
                    <span class="material-symbols-outlined" style="font-size: 15px;">home</span>
                    <button style="background-color: inherit; border: none;">Oreo/</button> 
                    <button style="background-color: inherit; border: none;">eCommerce/</button>  
                    <button style="background-color: inherit; border: none;">Products</button>
                </span>
            </p>
        </div>
    </div>
</div>
<div>    
    <mat-grid-list cols="8" rowHeight="8:8" style="width: 1520px;" >
        <span >
                <mat-grid-tile>
                        <img src="{{currentProduct.image}}" alt="">

                </mat-grid-tile>  
        </span>   
    </mat-grid-list>
</div>    