<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" class="inputcontainer">
        <p class="icon">Oreo 
            <span class="material-symbols-outlined">compare_arrows</span>
            <span class="material-symbols-outlined">inventory_2</span>
            <span class="material-symbols-outlined">mail</span>
            <span class="material-symbols-outlined">perm_contact_calendar</span>
            <span class="material-symbols-outlined">notifications</span>
            <span class="material-symbols-outlined">flag</span>
            <span><input type="text" placeholder="search"></span>
            <span class="material-symbols-outlined" id="log">logout</span>
            <span class="material-symbols-outlined" id="setting">Settings</span>
        </p>
    </div> 
</div>
<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" style="border-style: inset; height: 100px; border-color:rgba(0, 0, 0, 0.203);"> 
        <h3 style="color: white; font-size: 25px">Products</h3> 
        <div style="margin-bottom: 300px;">
            <p style="color: white;">Welcome to Oreo <span fxLayout="row" fxLayoutAlign="center" class="innerhead">
                <span class="material-symbols-outlined" style="font-size: 15px; cursor: pointer;" routerLink="/oreo">home</span>
                <button class="buttonin">Oreo/</button> 
                <button class="buttonin">eCommerce/</button>  
                <button class="buttonin" routerLink="/productlists">Products</button></span>
            </p>
        </div>
    </div> 
</div>    
    <mat-grid-list cols="1" rowHeight="1:1.1">
                <mat-grid-tile>
                        <img src="{{currentImage}}" width="400px" height="400px" alt=""  style="margin-bottom: 1250px; margin-left: -10px;">
                        <div style="margin-bottom: 900px; margin-left: 100px;">
                            <h3 style="line-height: 0.05px; font-size: 18px;">{{currentProduct.name}}</h3>
                            <h3 style="font-size: 18px;">Current Price:<span style="color: rgb(255, 204, 0);">{{currentProduct.price}}</span></h3>
                            <span>
                                <span class="material-symbols-outlined" style="color: rgb(255, 208, 0);">{{currentProduct.ratings}}</span>
                                <span class="material-symbols-outlined">{{currentProduct.ratingst}}</span>
                                <span> {{currentProduct.Review}}</span>
                            </span>
                            <p>{{currentProduct.description}}</p>
                           <span style="word-spacing: 20px;font-weight:500">Sizes:      <span>S <span>M <span> L <span> XL</span></span></span></span></span><br><br>
                           <span style="word-spacing: 20px;font-weight:500">colors:      <span>
                            <button style="background-color: rgb(255, 200, 0); width: 50px; height: 50px; margin-left: 10px;"></button> <span>
                                <button style="background-color: green; width: 50px; height: 50px; margin-left: 10px;"></button>   <span>
                                    <button style="background-color: rgb(0, 255, 234); width: 50px; height: 50px; margin-left: 10px;"></button></span></span>
                                </span>
                            </span>
                            <div><br><br>
                                <button class="cart" (click)="cart()">Add to cart</button>
                               <div style="margin-right: 700px; margin-top: 100px;">
                                    <img src="{{miniImage[0]}}" alt="" (click)="switchImageOne()" width="150ps" height="150px">
                                    <img src="{{miniImage[1]}}" alt="" (click)="switchImageTwo()" width="150px" height="150px">
                               </div>
                            </div>
                        </div>
                </mat-grid-tile>   
           
    </mat-grid-list>
    <div fxLayout="row" fxLayoutAlign="center" class="innerborder">
    </div>
  
    

  