<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" class="inputcontainer">
        <p class="icon">Oreo 
            <span class="material-symbols-outlined">compare_arrows</span>
            <span class="material-symbols-outlined">inventory_2</span>
            <span class="material-symbols-outlined">mail</span>
            <span class="material-symbols-outlined">perm_contact_calendar</span>
            <span class="material-symbols-outlined">notifications</span>
            <span class="material-symbols-outlined">flag</span>
            <span><input type="text" placeholder="search"></span>
            <span class="material-symbols-outlined" id="log">logout</span>
            <span class="material-symbols-outlined" id="setting">Settings</span>
        </p>
    </div> 
</div>
<div class="innercontainer">
    <div fxLayout="row" fxLayoutAlign="center" style="border-style: inset; height: 100px; border-color:rgba(0, 0, 0, 0.203);"> 
        <h3 style="color: white; font-size: 25px">Products</h3> 
        <div style="margin-bottom: 300px;">
            <p style="color: white;">Welcome to Oreo <span fxLayout="row" fxLayoutAlign="center" class="innerhead">
                <span class="material-symbols-outlined" style="font-size: 15px; cursor: pointer;" routerLink="/oreo">home</span>
                <button class="buttonin">Oreo/</button> 
                <button class="buttonin">eCommerce/</button>  
                <button class="buttonin">Products</button></span>
            </p>
        </div>
    </div> 
</div>
<table style="width: 97%; height: 10%;">
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th>Derail</th>
      <th>Amount</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let product of allProducts">
        <td><img src="{{product.image}}" alt="" width="50px" height="50px"></td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td><span class="material-symbols-outlined">{{product.update}}</span>
            <span class="material-symbols-outlined"> {{product.remove}}</span>
        </td>
    </tr>
</table>

