<div  class="innercontainer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="{{imagea}}" alt="" width="50px" height="50px">
            <label for="fname">Product Name</label><br>
            <input type="text" placeholder="Product Name" value="{{name}}" readonly><br><br>
            <label for="fname">Detail</label><br>
            <input type="text" [(ngModel)]="Detail"><br><br>
            <label for="fname">Amount</label><br>
            <input type="text"[(ngModel)]="Amount"><br><br>
            <label for="fname">Stock</label><br>
            <input type="text"[(ngModel)]="Stock"><br><br>
    </div>
    <button style="margin-left: 180px;" mat-dialog-close="false" (click)="close()">close</button>
</div>

